{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import", "flowtype"],
  "env": {
    "jest": true
  },
  "rules": {
    "quotes": "off",
    "comma-dangle": "off",
    "react/jsx-filename-extension": "off",
    "class-methods-use-this": "off",
    "react/require-default-props": "off",
    "react/prefer-stateless-function": "off",
    "no-return-assign": ["off", "except-parens"],
    "global-require": "off",
    "react/no-multi-comp": "off",
    "react/no-array-index-key": "off",
    "import/no-unresolved": "off",
    "react/sort-comp": "off",
    "no-underscore-dangle": "off",
    "react/no-unescaped-entities": "off",
    "jsx-a11y/accessible-emoji": "off",
    "max-len": "off",
    "react/destructuring-assignment": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off"
  }
}
